 .u-section-1 {
  min-height: 1378px;
}

.u-section-1 .u-image-1 {
  height: 787px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2)  + 655px);
  height: 749px;
  margin: -787px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-family: "Comic Relief";
  text-decoration: underline !important;
  margin: -749px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 574px;
  height: 558px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 571px;
  height: 524px;
  margin: -512px calc(((100% - 1140px) / 2)  + -105px) 0 auto;
}

.u-section-1 .u-btn-1 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.875rem;
  font-family: "Comic Relief";
  margin: -420px calc(((100% - 1140px) / 2)  + 255px) 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 39px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-2 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.875rem;
  font-family: "Comic Relief";
  margin: -97px calc(((100% - 1140px) / 2)  + 276px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.875rem;
  font-family: "Comic Relief";
  margin: 10px calc(((100% - 1140px) / 2)  + 341px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.875rem;
  font-family: "Comic Relief";
  margin: -210px calc(((100% - 1140px) / 2)  + 160px) 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  --radius: 0px;
  --top-left-radius: 0px;
  --top-right-radius: 0px;
  --bottom-right-radius: 0px;
  --bottom-left-radius: 0px;
  background-image: none;
  border-style: solid;
  font-size: 1.875rem;
  font-family: "Comic Relief";
  margin: 186px calc(((100% - 1140px) / 2)  + 267px) 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 727px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2)  + 655px);
    margin-top: -406px;
    margin-left: calc(((100% - 940px) / 2)  + 307px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -871px;
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 940px) / 2)  + -105px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2)  + 55px);
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2)  + 100px);
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2)  + 112px);
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 940px) / 2) + 67px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2)  + 655px);
    margin-left: calc(((100% - 720px) / 2)  + 307px);
  }

  .u-section-1 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2)  + -105px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1345px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 767px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2)  + 540px);
    margin-top: -400px;
    margin-left: calc(((100% - 540px) / 2)  + 290px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -858px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 525px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -479px;
    margin-right: calc(((100% - 540px) / 2)  + -105px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 939px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 761px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    margin-top: -516px;
    margin-left: calc(((100% - 340px) / 2)  + 90px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -667px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 331px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 312px;
    margin-top: -285px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: -208px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-right: calc(((100% - 340px) / 2));
  }
}