.u-section-1 .u-sheet-1 {
  min-height: 1133px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 693px;
  margin: -6px 544px 0 0;
}

.u-section-1 .u-image-1 {
  width: 485px;
  height: 774px;
  margin: -674px 0 0 auto;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 256px;
  margin: -50px -66px 60px 66px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 596px;
    margin-right: 525px;
    margin-left: 19px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 100px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 940px;
    margin-right: 100px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 415px;
    margin-left: 129px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 210px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 720px;
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-right: 0;
    margin-left: 600px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 540px;
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-left: 750px;
    margin-right: 750px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 543px;
    margin-left: 400px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
    margin-top: 181px;
    margin-left: 400px;
    margin-right: 400px;
  }
}