 .u-section-1 {
  min-height: 2355px;
}

.u-section-1 .u-image-1 {
  width: 745px;
  height: 485px;
  margin: 22px calc(((100% - 1140px) / 2)  + -277px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 775px;
  height: 347px;
  margin: -507px auto 0 0;
}

.u-section-1 .u-audio-1 {
  width: 500px;
  height: 111px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-family: "Comic Relief";
  margin: 0 auto 0 calc(((100% - 1140px) / 2)  + 27px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 360px calc(((100% - 1140px) / 2)  + 185px) 0 auto;
}

.u-section-1 .u-image-3 {
  width: 259px;
  height: 167px;
  margin: 1328px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2)  + -277px);
  }

  .u-section-1 .u-audio-1 {
    transition-duration: 0.5s;
    margin-left: calc(((100% - 940px) / 2) + 27px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-top: 1203px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2330px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2)  + -277px);
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 322px;
  }

  .u-section-1 .u-audio-1 {
    margin-left: calc(((100% - 720px) / 2) + 27px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2250px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2)  + -277px);
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 242px;
  }

  .u-section-1 .u-audio-1 {
    margin-left: calc(((100% - 540px) / 2) + 27px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-top: 1328px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1831px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 221px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 152px;
    margin-top: -243px;
  }

  .u-section-1 .u-audio-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-top: 1299px;
  }
}