 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/ROGGLEJOGLEBACKGROUND.gif");
  background-size: cover;
  min-height: 2745px;
}

.u-section-1 .u-image-1 {
  width: 657px;
  height: 131px;
  margin: 0 auto;
}

.u-section-1 .u-video-1 {
  width: 336px;
  height: 219px;
  margin: -131px auto 0 calc(((100% - 1140px) / 2)  + -72px);
}

.u-section-1 .u-audio-1 {
  width: 657px;
  height: 102px;
  background-image: none;
  font-family: "Comic Relief";
  margin: -88px auto 0;
}

.u-section-1 .u-video-2 {
  width: 286px;
  height: 219px;
  margin: -233px calc(((100% - 1140px) / 2)  + -44px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 81px;
  height: 102px;
  margin: -88px auto 0 calc(((100% - 1140px) / 2)  + 472px);
}

.u-section-1 .u-video-3 {
  width: 533px;
  height: 300px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2)  + 282px);
}

.u-section-1 .u-image-3 {
  width: 81px;
  height: 102px;
  margin: -300px auto 0 calc(((100% - 1140px) / 2)  + 269px);
}

.u-section-1 .u-image-4 {
  width: 81px;
  height: 102px;
  margin: -102px calc(((100% - 1140px) / 2)  + 312px) 0 auto;
}

.u-section-1 .u-image-5 {
  width: 363px;
  height: 300px;
  margin: -115px auto 0 calc(((100% - 1140px) / 2)  + -94px);
}

.u-section-1 .u-image-6 {
  width: 363px;
  height: 300px;
  margin: -301px calc(((100% - 1140px) / 2)  + -51px) 0 auto;
}

.u-section-1 .u-audio-2 {
  width: 181px;
  height: 111px;
  margin: -204px auto 0 calc(((100% - 1140px) / 2)  + -17px);
}

.u-section-1 .u-audio-3 {
  width: 181px;
  height: 111px;
  margin: -117px calc(((100% - 1140px) / 2)  + 43px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: "Comic Relief";
  font-size: 3.75rem;
  margin: 115px calc(((100% - 1140px) / 2)  + 366px) 0 calc(((100% - 1140px) / 2)  + 323px);
}

.u-section-1 .u-image-7 {
  width: 234px;
  height: 300px;
  margin: -417px auto 0 calc(((100% - 1140px) / 2)  + 67px);
}

.u-section-1 .u-video-4 {
  width: calc(((100% - 1140px) / 2)  + 197px);
  height: 189px;
  margin: 1735px auto 0 0;
}

.u-section-1 .u-video-5 {
  width: 426px;
  height: 189px;
  margin: -181px calc(((100% - 1140px) / 2)  + -165px) 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2264px;
  }

  .u-section-1 .u-video-1 {
    margin-left: calc(((100% - 940px) / 2)  + -72px);
  }

  .u-section-1 .u-video-2 {
    margin-right: calc(((100% - 940px) / 2) + -44px);
  }

  .u-section-1 .u-image-2 {
    height: 101px;
    margin-left: calc(((100% - 940px) / 2)  + 472px);
  }

  .u-section-1 .u-video-3 {
    margin-left: calc(((100% - 940px) / 2) + 282px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 1881px;
    margin-right: calc(((100% - 940px) / 2)  + 489px);
    margin-left: calc(((100% - 940px) / 2)  + 269px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -2452px;
    margin-right: calc(((100% - 940px) / 2)  + 312px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 1960px;
    margin-left: calc(((100% - 940px) / 2)  + 11px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -161px;
    margin-right: calc(((100% - 940px) / 2)  + 138px);
  }

  .u-section-1 .u-audio-2 {
    margin-top: -284px;
    margin-left: calc(((100% - 940px) / 2)  + 274px);
  }

  .u-section-1 .u-audio-3 {
    margin-top: -258px;
    margin-right: calc(((100% - 940px) / 2)  + 99px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -1712px;
    margin-right: calc(((100% - 940px) / 2)  + 266px);
    margin-left: calc(((100% - 940px) / 2)  + 242px);
  }

  .u-section-1 .u-image-7 {
    height: 301px;
    margin-top: 1273px;
    margin-right: calc(((100% - 940px) / 2)  + 389px);
    margin-left: calc(((100% - 940px) / 2)  + 258px);
  }

  .u-section-1 .u-video-4 {
    width: calc(((100% - 940px) / 2)  + 197px);
    margin-top: 104px;
  }

  .u-section-1 .u-video-5 {
    margin-right: calc(((100% - 940px) / 2)  + -165px);
    margin-bottom: -241px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-video-1 {
    margin-left: calc(((100% - 720px) / 2)  + -72px);
  }

  .u-section-1 .u-video-2 {
    margin-right: calc(((100% - 720px) / 2) + -44px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2)  + 472px);
  }

  .u-section-1 .u-video-3 {
    margin-left: calc(((100% - 720px) / 2) + 187px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 1947px;
    margin-right: calc(((100% - 720px) / 2)  + 489px);
    margin-left: calc(((100% - 720px) / 2)  + 269px);
  }

  .u-section-1 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2)  + 312px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 1344px;
    margin-left: calc(((100% - 720px) / 2)  + 11px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -216px;
    margin-right: calc(((100% - 720px) / 2)  + 138px);
  }

  .u-section-1 .u-audio-2 {
    margin-left: calc(((100% - 720px) / 2)  + 220px);
  }

  .u-section-1 .u-audio-3 {
    margin-right: calc(((100% - 720px) / 2)  + 99px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -1107px;
    margin-right: calc(((100% - 720px) / 2)  + 156px);
    margin-left: calc(((100% - 720px) / 2)  + 185px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 602px;
    margin-right: calc(((100% - 720px) / 2)  + 389px);
    margin-left: calc(((100% - 720px) / 2)  + 258px);
  }

  .u-section-1 .u-video-4 {
    width: calc(((100% - 720px) / 2)  + 197px);
    margin-top: 776px;
  }

  .u-section-1 .u-video-5 {
    margin-right: calc(((100% - 720px) / 2)  + -165px);
    margin-bottom: -606px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2241px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 108px;
    margin-top: 930px;
  }

  .u-section-1 .u-video-1 {
    margin-right: calc(((100% - 540px) / 2)  + -24px);
    margin-left: auto;
  }

  .u-section-1 .u-audio-1 {
    width: 540px;
    margin-top: 1143px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-video-2 {
    margin-top: -1137px;
    margin-right: -44px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -694px;
    margin-left: calc(((100% - 540px) / 2)  + 309px);
  }

  .u-section-1 .u-video-3 {
    margin-top: 19px;
    margin-left: calc(((100% - 540px) / 2)  + 7px);
  }

  .u-section-1 .u-image-3 {
    margin-top: 2px;
    margin-right: calc(((100% - 540px) / 2)  + 459px);
    margin-left: calc(((100% - 540px) / 2)  + 269px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -2415px;
    margin-right: calc(((100% - 540px) / 2)  + 312px);
  }

  .u-section-1 .u-image-5 {
    margin-top: 2133px;
    margin-left: calc(((100% - 540px) / 2)  + 11px);
  }

  .u-section-1 .u-image-6 {
    margin-top: -261px;
    margin-right: calc(((100% - 540px) / 2)  + 138px);
  }

  .u-section-1 .u-audio-2 {
    margin-left: calc(((100% - 540px) / 2)  + 40px);
  }

  .u-section-1 .u-audio-3 {
    margin-top: -259px;
    margin-right: calc(((100% - 540px) / 2)  + 99px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -444px;
    margin-right: calc(((100% - 540px) / 2)  + 66px);
    margin-left: calc(((100% - 540px) / 2)  + 139px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 84px;
    margin-right: calc(((100% - 540px) / 2)  + 321px);
    margin-left: calc(((100% - 540px) / 2)  + 258px);
  }

  .u-section-1 .u-video-4 {
    width: 296px;
    margin-top: 1045px;
    margin-left: 544px;
  }

  .u-section-1 .u-video-5 {
    margin-right: calc(((100% - 540px) / 2)  + -165px);
    margin-bottom: -380px;
    margin-left: 116px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2073px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 68px;
  }

  .u-section-1 .u-video-1 {
    margin-right: calc(((100% - 340px) / 2)  + -324px);
  }

  .u-section-1 .u-audio-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2)  + 180px);
  }

  .u-section-1 .u-video-3 {
    width: 340px;
    height: 191px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-top: 15px;
    margin-left: calc(((100% - 340px) / 2)  + 259px);
    margin-right: calc(((100% - 340px) / 2)  + 259px);
  }

  .u-section-1 .u-image-4 {
    margin-top: -2428px;
    margin-right: calc(((100% - 340px) / 2)  + 259px);
  }

  .u-section-1 .u-image-5 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-6 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-audio-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-audio-3 {
    margin-right: calc(((100% - 340px) / 2)  + 99px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -380px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 88px);
  }

  .u-section-1 .u-image-7 {
    margin-top: 20px;
    margin-left: calc(((100% - 340px) / 2)  + 121px);
    margin-right: calc(((100% - 340px) / 2)  + 121px);
  }

  .u-section-1 .u-video-4 {
    margin-top: 1340px;
    margin-left: 444px;
  }

  .u-section-1 .u-video-5 {
    margin-right: calc(((100% - 340px) / 2)  + -165px);
    margin-bottom: -675px;
    margin-left: 216px;
  }
}